@import-normalize;

@font-face {
  font-family: 'Chakra Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Chakra Semi Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/ChakraPetch-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Chakra Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Press Start';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'VT Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/VT323-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  background-color: #000;
}

.opacity:hover {
  opacity: 0.8;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.primary-color {
  color: #c8ff66;
}

.primary-bg {
  background-color: #c8ff66;
  color: #000;
}

.main-btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1.125em;
  padding: 8px 35.5px;
  border: none;
  box-shadow: 0px 0px 15px rgba(210, 255, 142, 0.8);
  font-family: 'Chakra Bold';
  cursor: pointer;
}

a.external {
  position: relative;
}

a.external::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: -20px;
  background: url('./assets/img/external-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-heading {
  font-family: 'Press Start';
  font-size: 3.125em;
  margin: 0;
}

.sub-heading {
  font-family: 'Chakra Semi Bold';
  font-size: 2.19em;
  margin: 15px 0px 25px;
}

.secondary-heading {
  font-family: 'VT Regular';
  font-size: 3.125em;
  margin: 0 0 25px;
}

.center-content {
  text-align: center;
}
